a
{
    text-decoration: none;

    color: inherit;
}

ul
{
    margin: 0;
    
    padding: 0;

    list-style: none;
}

body
{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #534b4b;
}

.header
{
    background-color: #0a0a0a;

    padding: 33px 0 32px;

    font-size: 24px;  
    line-height: 30px; 

    color: #717171;
}

.cont 
{
    max-width: 1200px;

    margin: 0 auto;

    padding: 0% 15px;

}

.nav
{

    display: flex;
    
    justify-content: space-between;

    align-items: center;

}

.menu
{
    display: flex
}

.men-It
{
    padding-right: 30px;
}

.headline
{
    padding: 70px 0 40px;
}

.title
{
    text-transform: uppercase;

    text-align: center;

    margin: 0 0 40px;

    color: #490E84;

    font-weight: 700px;
    font-size: 64px;
    line-height: 77px;
}

.headline-imj 
{
   
    display: inline-block;
    
    position: absolute;
    bottom: 190px;
    left: 640px;
}


.p1
{
    display: inline-block;

    height: 150px;
    
    position: absolute;
    bottom: 10px;
    left: 300px;
        
}

.p2
{
    display: inline-block;

    height: 150px;

    position: absolute;
    bottom: 3px;
    left: 400px;
}

.p3
{
    display: inline-block;

    height: 150px;
    position: absolute;
    bottom: 20px;
    left: 550px;
}

.p4
{
    display: inline-block;

    
    height: 150px;
    position: absolute;
    bottom: 20px;
    left: 1370px;
}

.p5
{
    display: inline-block;

    
    height: 150px;
    position: absolute;
    bottom: 20px;
    left: 1270px;
}

.p6
{
    display: inline-block;

    
    height: 150px;
    position: absolute;
    bottom: 20px;
    left: 1170px;
}

@media (max-width:1000px) {
    .title
    {
        font-size: 50px;
    }
}

@media screen and (max-width:1300px) {
    
    .headline-imj
    {
        top: 390px;
        height: 300px;
        left: 0px;
    }

    .p1
    {
        /*position: absolute;*/
        top: 750px;
        left:  10px;
        height: 200px;
    }

    .p2
    {
        top: 1230px;
        left: 150px;
        height: 250px;
    }

    .p3
    {
       top: 970px;
       height: 200px;
       left: 200px;
    }

    .p4
    {
        top: 1200px;
        height: 230px;
        left: 0px;
    }

    .p5
    {
        top: 720px;
        height: 250px;
        left: 180px;
    }

    .p6
    {
        top: 950px;
        height: 240px;
        left: 0px;
    }

}